.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1e1e1e;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .content{
    padding-Top: 60px;
  }